<h1>{{ title }}</h1>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Бронирование номера</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="NameUser">Имя</label>
          <div class="input-group">
            <input id="NameUser" class="form-control" placeholder="Имя" name="dp" (input)="onListPerson($event, 0)">
          </div>
        </div>
        <div class="form-group">
            <label for="dateOfStart">Дата заселения</label>
            <div class="input-group">
              <input id="dateOfStart" class="form-control" type="date" name="dp1" [min]="dateStart" [max]="dateEnd" (input)="onListPerson($event, 2)">
            </div>
          </div>
          <div class="form-group">
            <label for="dateOfEnd">Дата окончания проживания</label>
            <div class="input-group">
              <input id="dateOfEnd" class="form-control" type="date" name="dp2" ngbDatepicker #dp="ngbDatepicker" [min]="dateStart" [max]="dateEnd" (input)="onListPerson($event, 3)">
            </div>
          </div>
      </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="onCLoseForm(1)">Отказаться</button>
      <button type="button" class="btn btn-outline-dark" (click)="onCLoseForm(2)">Забронировать</button>
    </div>
  </ng-template>

<div>
    <p class="message_alert">{{message}}</p>
  <fieldset>
    <legend>
      Сортировка
    </legend>
    <div class="find_par">
      <div>
        <label for="pag">Выводить по: </label>
        <select class="form-control" name="" id="pag" (input)="onCountRow($event)" [value]="countRows">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
        </select>
      </div>
      <div>
        <label for="dts">Дата начала:</label>
        <input type="date" class="form-control" name="" id="dts" (input)="onDateStart($event, 1)" [value]="dateStart">
      </div>
      <div>
        <label for="dte">Дата окончания:</label>
        <input type="date" class="form-control" name="" id="dte" (input)="onDateStart($event, 2)" [value]="dateEnd">
      </div>
      <div>
        <label for="price">цена:</label>
        <select class="form-control" name="" id="price" (input)=onPriceSort($event)>
          <option value="0">По умолчанию</option>
          <option value="1">По возрастанию</option>
          <option value="2">По убыванию</option>
        </select>
      </div>
    </div>
  </fieldset>
</div>

<table class="table table-striped">
  <tr>
    <th>№</th>
    <th>номер</th>
    <th>кол-во мест</th>
    <th>цена за день</th>
  </tr>
  <tr *ngFor="let b of freeRoomDate; index as i" (click)="onShowForm(b.numberRoom, content)">
    <td>{{i+1}}</td>
    <td>{{b.numberRoom}}</td>
    <td>{{b.countPlace}}</td>
    <td>${{b.price}}</td>
  </tr>
</table>
<div>
</div>
