  table {
    border: 1px solid black;
    width: 500px;
    margin: auto;
  }
  

  tr:hover {
    background-color: #d1d1d1;
  }

  td {
    text-align: center;
    border: 1px solid black;
  }

  h1 {
      text-align: center;
  }

  select {
    margin-bottom: 10px;
  }

  button {
    margin: 10px;
  }
  .find_par {
    display: flex;
    justify-content: center;
  }

  .find_par>div {
    margin: 10px;
  }

  fieldset {
    margin: 10px;
  }
  label {
    margin: 10px;
  }

  .message_alert{
    font-size: 200%;
    color: darkgreen;;
  }